In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
top_beer_info = pd.read_csv('/Users/ltexp1998/code/ltexp1998/zytholic_project/raw_data/top-beer-information/top_beer_information.csv')

In [3]:
top_beer_info.head(5)

,Name,key,Style,Style Key,Brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,...,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,251,Altbier,8,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25,50,...,32,9,47,74,33,0,33,57,8,111
1,Double Bag,252,Altbier,8,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25,50,...,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,253,Altbier,8,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25,50,...,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,254,Altbier,8,Uerige Obergärige Hausbrauerei,Notes:,8.5,4.15,25,50,...,55,31,47,101,18,1,49,40,16,119
4,Scurry,255,Altbier,8,Off Color Brewing,Notes:Just cause it's dark and German doesn't ...,5.3,3.67,25,50,...,69,10,63,120,14,0,19,36,15,218

In [4]:
beers = pd.read_csv('/Users/ltexp1998/code/ltexp1998/zytholic_project/raw_data/Beers_Breweries_and_Beer Reviews/beers.csv')

In [5]:
reviews = pd.read_csv('/Users/ltexp1998/code/ltexp1998/zytholic_project/raw_data/Beers_Breweries_and_Beer Reviews/reviews.csv')

In [6]:
reviews.head()

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [7]:
top_beer_info_style = top_beer_info['Style']

In [8]:
top_beer_info_style.to_csv("top_beer_info_style.csv")

In [9]:
beers_style = beers['style']

In [10]:
beers_style.to_csv("beers_style.csv")

In [11]:
test = top_beer_info_style.unique()
pd.DataFrame(test).to_csv("top_beer_info_style.csv")

test2 = beers_style.unique()
pd.DataFrame(test2).to_csv("beers_style.csv")

In [12]:
beers_style.unique()

array(['English Oatmeal Stout', 'Russian Imperial Stout', 'Scottish Ale',
       'American Imperial Stout', 'American Cream Ale',
       'Japanese Rice Lager', 'American Lager', 'American IPA',
       'German Bock', 'English Stout', 'English Bitter',
       'Belgian Witbier', 'American Strong Ale',
       'American Pale Wheat Ale', 'Berliner Weisse',
       'American Pale Ale (APA)', 'British Barleywine',
       'American Black Ale', 'Baltic Porter', 'American Adjunct Lager',
       'European Pale Lager', 'American Porter', 'Fruit and Field Beer',
       'American Imperial IPA', 'American Wild Ale', 'Irish Red Ale',
       'English Pale Ale', 'American Amber / Red Lager', 'Belgian Saison',
       'Belgian IPA', 'Rye Beer', 'Belgian Quadrupel (Quad)',
       'German Hefeweizen', 'American Stout', 'Smoke Beer',
       'Belgian Tripel', 'American Amber / Red Ale', 'Pumpkin Beer',
       'German Maibock', 'German Dunkelweizen', 'Belgian Dark Ale',
       'Vienna Lager', 'English Extra Special / Strong Bitter (ESB)',
       'English Sweet / Milk Stout', 'Scotch Ale / Wee Heavy',
       'Leipzig Gose', 'German Pilsner', 'German Kristalweizen',
       'German Märzen / Oktoberfest', 'American Brown Ale',
       'American Blonde Ale', 'Bohemian Pilsener', 'American Barleywine',
       'Foreign / Export Stout', 'Belgian Strong Pale Ale',
       'European Export / Dortmunder', 'French Bière de Garde',
       'California Common / Steam Beer', 'English India Pale Ale (IPA)',
       'Winter Warmer', 'German Helles', 'American Imperial Red Ale',
       'European Strong Lager', 'Belgian Dubbel', 'English Porter',
       'Belgian Gueuze', 'German Rauchbier', 'German Altbier',
       'English Brown Ale', 'American Light Lager', 'European Dark Lager',
       'Belgian Strong Dark Ale', 'Belgian Pale Ale', 'German Doppelbock',
       'German Kölsch', 'German Schwarzbier', 'Herb and Spice Beer',
       'English Old Ale', 'German Kellerbier / Zwickelbier',
       'Munich Dunkel Lager', 'Chile Beer', 'English Pale Mild Ale',
       'Irish Dry Stout', 'German Weizenbock', 'American Brett',
       'Belgian Fruit Lambic', 'Wild/Sour Beers', 'Robust Porter',
       'Smoke Porter', 'American Wheatwine Ale',
       'American Dark Wheat Ale', 'Flanders Oud Bruin',
       'German Roggenbier', 'Finnish Sahti', 'American Malt Liquor',
       'American Imperial Pilsner', 'Belgian Blonde Ale',
       'American Imperial Porter', 'Scottish Gruit / Ancient Herbed Ale',
       'American Brut IPA', 'Flanders Red Ale', 'Low Alcohol Beer',
       'English Dark Mild Ale', 'New England IPA', 'English Strong Ale',
       'Japanese Happoshu', 'Russian Kvass', 'Braggot', 'Belgian Lambic',
       'Bière de Champagne / Bière Brut', 'German Eisbock',
       'Belgian Faro', nan], dtype=object)

In [13]:
top_beer_info_style.value_counts()

Altbier                           50
Lager - Märzen / Oktoberfest      50
Red Ale - Imperial                50
Red Ale - American Amber / Red    50
Quadrupel (Quad)                  50
                                  ..
Lambic - Traditional              49
Sour - Flanders Oud Bruin         49
Sour - Flanders Red Ale           49
Sour - Gose                       49
Lambic - Faro                     16
Name: Style, Length: 112, dtype: int64

In [14]:
beers_style.value_counts()

American IPA                       44719
American Pale Ale (APA)            22159
American Imperial IPA              18338
Belgian Saison                     18167
American Wild Ale                  12972
                                   ...
Japanese Happoshu                    123
Finnish Sahti                        123
Bière de Champagne / Bière Brut      116
Belgian Faro                          32
Wild/Sour Beers                        4
Name: style, Length: 112, dtype: int64

In [19]:
df1 = pd.DataFrame(top_beer_info['Style'])
df2 = pd.DataFrame(beers['style'])

In [21]:
df1 = df1.sort_values(by=['Style'])
df2 = df2.sort_values(by=['style'])

In [22]:
print(df1.shape,df2.shape)

(5558, 1) (358873, 1)

In [23]:
import datacompy

compare = datacompy.Compare(
df1,
df2,
join_columns='style', #You can also specify a list of columns
abs_tol=0.0001,
rel_tol=0,
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New') #Optional, defaults to 'df2'

In [24]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0  Original        1    5558
1       New        1  358873

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: style
Any duplicates on match values: Yes
Absolute Tolerance: 0.0001
Relative Tolerance: 0
Number of rows in common: 600
Number of rows in Original but not in New: 4,958
Number of rows in New but not in Original: 358,273

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 600

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                     style
3243                    Pale Ale - Belgian
2054  Lager - European / Dortmunder Export
2244               Lager - European Strong
3547                       Porter - Baltic
102                   Barleywine - English
121                   Barleywine - English
5465                              Wild Ale
2051  Lager - European / Dortmunder Export
5113            Wheat Beer - American Dark
5082                                Tripel

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                          style
71349              American IPA
32271       American Blonde Ale
132638  American Pale Ale (APA)
240237          Berliner Weisse
34376        American Brown Ale
20763       American Barleywine
281988      European Pale Lager
47702              American IPA
59551              American IPA
55810              American IPA

In [26]:
style_renamed = pd.read_excel('/Users/ltexp1998/code/ltexp1998/zytholic_project/assets/style_convert.xlsx')

style_renamed

                  Dataset style                Unnamed: 1
0                      Original                 Converted
1                       Altbier                   Altbier
2        American Adjunct Lager  Adjunct Lager - American
3      American Amber / Red Ale        Ale Red - American
4    American Amber / Red Lager       Lager Red- American
..                          ...                       ...
208      Wheat Beer - Wheatwine      Wheat Beer Wheatwine
209        Wheat Beer - Witbier        Wheat Beer Witbier
210                    Wild Ale                  Ale Wild
211             Wild/Sour Beers                 Sour Wild
212               Winter Warmer             Winter Warmer

[213 rows x 2 columns]

In [27]:
type(style_renamed)

pandas.core.frame.DataFrame

In [28]:
style_renamed.to_csv("style_rename.csv")

AttributeError: 'NoneType' object has no attribute 'head'

In [30]:
style_csv = pd.read_csv('/Users/ltexp1998/code/ltexp1998/zytholic_project/notebooks/style_rename.csv')

In [31]:
style_csv.head()

   Unnamed: 0               Dataset style                Unnamed: 1
0           0                    Original                 Converted
1           1                     Altbier                   Altbier
2           2      American Adjunct Lager  Adjunct Lager - American
3           3    American Amber / Red Ale        Ale Red - American
4           4  American Amber / Red Lager       Lager Red- American

In [34]:
style_csv.drop(columns='Unnamed: 0', inplace=True)

In [40]:
style_csv.head()

                Dataset style                Unnamed: 1
0                    Original                 Converted
1                     Altbier                   Altbier
2      American Adjunct Lager  Adjunct Lager - American
3    American Amber / Red Ale        Ale Red - American
4  American Amber / Red Lager       Lager Red- American