In [118]:
import pandas as pd
import numpy as np

In [89]:
import re
def clean_string(string):
    string = str(string)
    string = string.lower()
    cleanString = re.sub('[^A-Za-z ]+','', string)   
    
    return cleanString

In [207]:
dfbreweries = pd.read_csv("../raw_data/beer/breweries.csv")

#dfbeer = pd.read_csv("../raw_data/beer/beers.csv")

dftop = pd.read_csv("../raw_data/top_beer_information.csv")

In [156]:
dftop['Brewery'].nunique()

1498

In [226]:
cleanbre1= []
cleanbre2= []

for x in dftop.Brewery:
    y = clean_string(x)
    z = y.trim()
    cleanbre1.append(z)  
    
dftop['cleanbrewery']= cleanbre1

cleanbre= []
for x in dfbreweries.name :  
    y = clean_string(x)
    z = y.trim()
    cleanbre2.append(z)  
    
    
dfbreweries['cleanbrewery']= cleanbre2

AttributeError: 'str' object has no attribute 'trim'

In [17]:
#pd.merge(dftop, df_new,how='left', on='Brewery')
bre = []

#for x in dftop.Brewery :
for y in df_new.Brewery :
    if y in dftop.Brewery :
        bre.appends(y)
        
bre

[]

In [225]:
dftop['cleanbrewery']

0                           alaskan brewing co
1                        long trail brewing co
2                        long trail brewing co
3                uerige obergrige hausbrauerei
4                            off color brewing
                         ...
5553             natty greenes pub  brewing co
5554                    anchor brewing company
5555    fish brewing company  fishbowl brewpub
5556                   shmaltz brewing company
5557                       hoppin frog brewery
Name: cleanbrewery, Length: 5558, dtype: object

In [224]:
dftop['cleanbrewery']

0                           alaskan brewing co
1                        long trail brewing co
2                        long trail brewing co
3                uerige obergrige hausbrauerei
4                            off color brewing
                         ...
5553             natty greenes pub  brewing co
5554                    anchor brewing company
5555    fish brewing company  fishbowl brewpub
5556                   shmaltz brewing company
5557                       hoppin frog brewery
Name: cleanbrewery, Length: 5558, dtype: object

0                           brouwerij danny
1               coachella valley brewing co
2                             beef o bradys
3                    broadway wine merchant
4        brighton beer dispensary duplicate
                        ...
50342                blagodarnensky brewery
50343                                eataly
50344                    frites  quarry bay
50345            forest city wines  spirits
50346                 landmark beer company
Name: cleanbrewery, Length: 50347, dtype: object

In [172]:
bre = []

#for x in dftop.Brewery :
for y in dftop['cleanbrewery'] :   
    if y in dfbreweries['cleanbrewery'] :     
        bre.append(y)            
bre

[]

In [177]:
dftop['cleanbrewery'][1]

'long trail brewing co'

In [152]:
# .sort_values(ascending=True)


dfbrew=dfbreweries['cleanbrewery']


dfbrew = [np.nan if x == "" else x for x in dfbrew]

dfbreweries['cleanbrewery'] = dfbrew


dfbreweries['cleanbrewery']=dfbreweries['cleanbrewery'].dropna()

#df = pd.DataFrame()

df["brew"]=dfbreweries['cleanbrewery'].dropna().sort_values(ascending=False)


df["top"]=dftop['cleanbrewery'].dropna().sort_values(ascending=False)

df.head()

                                      brew                       top
22832                                                            NaN
23266     bochkarevskiy pivovarennyi zavod                       NaN
144                     zao tagilskoe pivo      pelican pub  brewery
3298                 khvoyninskiy pivzavod  granville island brewery
26400                  marxovskiy pivzavod                       NaN